*{
    margin:0;
    padding: 0;
    text-align: center;
    color: #FBFADA;
}
#header{
    height:10vh;
    background-color: #ADBC9F;
}
#body{
    height: 80vh;
    background-color: #436850;
}
#footer{
    height:10vh;   
    background-color: #12372A;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
